ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5434;Database=valoradb;Username=valora;Password=valora_dev_123;Pooling=true;Maximum Pool Size=50;Timeout=30;Command Timeout=60;Application Name=ValoraPulse
Jwt__Issuer=ValoraPulse
Jwt__Audience=ValoraPulse
Jwt__Secret=trocar-por-segredo-forte-em-producao
Jwt__ExpiresMinutes=480
Email__Enabled=false
Email__FromName=Valora Group
Email__FromEmail=valoragroup@mnsoft.com.br
