NODE_ENV=production
PORT=8097
PUBLIC_BASE_URL=https://api.valoragroup.mnsoft.com.br
APP_PUBLIC_URL=https://valoragroup.mnsoft.com.br
ALLOWED_ORIGINS=https://valoragroup.mnsoft.com.br
SMTP_ENABLED=true
SMTP_HOST=smtp.seudominio.com.br
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=valoragroup@mnsoft.com.br
SMTP_PASS=senha-segura-de-producao
SMTP_FROM_NAME=Valora Group
SMTP_FROM_EMAIL=valoragroup@mnsoft.com.br
FIREBASE_PROJECT_ID=gestordepesquisa
GOOGLE_APPLICATION_CREDENTIALS=C:\FirebaseKeys\gestordepesquisa-firebase-adminsdk-fbsvc-fe4f2380fd.json
WHATSAPP_ENABLED=false
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_API_VERSION=v20.0
LOG_DIR=./logs
