NODE_ENV=production
PORT=8097

APP_PUBLIC_URL=https://valoragroup.mnsoft.com.br
PUBLIC_BASE_URL=https://api.valoragroup.mnsoft.com.br

ALLOWED_ORIGINS=https://valoragroup.mnsoft.com.br

SMTP_ENABLED=true
SMTP_HOST=smtp.seudominio.com.br
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=valoragroup@mnsoft.com.br
SMTP_PASS=SENHA_SEGURA_DO_EMAIL
SMTP_FROM_NAME=Valora Group
SMTP_FROM_EMAIL=valoragroup@mnsoft.com.br

FIREBASE_PROJECT_ID=gestordepesquisa
GOOGLE_APPLICATION_CREDENTIALS=C:\FirebaseKeys\gestordepesquisa-firebase-adminsdk-fbsvc-fe4f2380fd.json

EMAIL_QUEUE_ENABLED=true
EMAIL_MAX_ATTEMPTS=3
EMAIL_RETRY_MINUTES=5
LOG_DIR=./logs
